/*
 *
 * Medication-Alarm_module
 *
 * Lyba Mughees
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

 /* Medication-Alarm.css */

.medication-alarm {
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #333;
  }
  