/* Medication-Alarm.css */

.medication-alarm {
  font-family: "Tahoma", sans-serif;
  /* Sans-serif font */
  font-size: 60px;
  /* Adjust font size */

  text-align: center;
  /* Align the content to the left */


}

.medication-notifications {
  margin-bottom: 20px;
  /* Add margin bottom for spacing */
}

.medication-notification {
  color: red;
  font-family: "Tahoma", sans-serif;
  /* Sans-serif font */
  font-size: 60px;
  /* Set text color */
  margin-bottom: 10px;
  /* Add margin bottom for spacing */
}

.medication-notification-title {
  font-size: 60px;
  /* Adjust font size for title */
  font-weight: bold;
  /* Make it bold */
}

.medication-notification-message {
  font-family: "Tahoma", sans-serif;
  /* Sans-serif font */
  font-size: 48px;
  /* Adjust font size for message */
}

.medication-alarm button {
  background-color: orangered; /* Add color to buttons */
  border: none;
  color: white;
  padding: 20px 40px; /* Increase padding for bigger buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Tahoma, sans-serif;
  font-size: 48px; /* Increase font size for bigger buttons */
  cursor: pointer;
  border-radius: 5px; /* Add border radius for rounded corners */
  transition-duration: 0.4s; /* Add transition for smooth hover effect */
}

.medication-alarm button:hover {
  background-color: darkred; /* Darken the button color on hover */
}
