/* Medication-Input.css */

.medication-input {
  font-family: "Tahoma", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #4CAF50; /* Add border for better visibility */
  border-radius: 10px; /* Add border radius for rounded corners */
  padding: 10px; /* Adjust padding */
  background-color: #1f1e1e; /* Add background color */
  margin-bottom: 20px; /* Add some space between modules */
}


.medication-container {
  margin-bottom: 20px; /* Increase margin bottom for better spacing */
  padding: 20px; /* Adjust padding */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center align items horizontally */
}

.brand-select,
.box-select,
.medication-select2,
.medication-button {
  width: 350px; /* Adjust width for better visibility */
  font-weight: bold; /* Make the font bold */
  border: 2px solid #4CAF50; /* Add border for better visibility */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 10px; /* Adjust padding */
  margin-bottom: 10px; /* Adjust margin bottom */
  font-family: "Tahoma", sans-serif;
  font-size: 24px; /* Adjust font size for better readability */
}

.brand-select,
.medication-select2 {
  height: 50px; /* Adjust height for better visibility */
}

.medication-button {
  background-color: #4CAF50; /* Add color to buttons */
  border: none;
  color: white;
  padding: 10px 20px; /* Adjust padding */
  font-family: "Tahoma", sans-serif; /* Sans-serif font */
  font-size: 16px; /* Adjust font size */
  cursor: pointer;
  border-radius: 5px; /* Add border radius for rounded corners */
  transition-duration: 0.4s; /* Add transition for smooth hover effect */
}

.medication-button:hover {
  background-color: #45a049; /* Darken the button color on hover */
}

.box-select,
.medication-select2 {
  font-weight: bold; /* Make the font bold */
  font-size: 24px; /* Adjust font size for better readability */
}

.brand-select,
.box-select {
  font-size: 24px; /* Adjust font size */
}

.passcode-container {
  position: relative;
}

.toggle-password {

  font-size: 1.5em; /* Adjust the size as needed */
}

